name: Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - .
          - adapter/github.com/googleapis/gax-go.v2/gaxbackoff
          - adapter/github.com/lestrrat-go/backoff.v2/lestrratbackoff
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ${{ matrix.module }}/go.mod
      - name: Run tests
        run: go test -v -race ./...
        working-directory: ${{ matrix.module }}

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - .
          - adapter/github.com/googleapis/gax-go.v2/gaxbackoff
          - adapter/github.com/lestrrat-go/backoff.v2/lestrratbackoff
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: ${{ matrix.module }}/go.mod
          cache: false
      - uses: golangci/golangci-lint-action@v9
        with:
          working-directory: ${{ matrix.module }}
